@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

/* Colors */
$darkBlue: hsl(240, 38%, 20%);
$grayishBlue: hsl(240, 18%, 77%);

$fontLight: 300;
$fontRegular: 500;
$fontBold: 700;

/* Breakpoints */
// 640px, 1024px, 1400px
$breakpoints-up: (
  "medium": 40em,
  "large": 64em,
  "xlarge": 87.5em,
);
// 639px, 1023px, 1399px
$breakpoints-down: (
  "small": 40em,
  "medium": 64em,
  "large": 87.5em,
);

/* Fonts */
$fontStack: "Inter", sans-serif;

$zIndex: (
  "control-group": 100,
  "feedback-card-content": 99,
);

/* Mixins */
@mixin apply-up($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}
